@charset "UTF-8";

 * {  /* Seletor global */
    margin: 0;
    padding: 0;

 }

#perfil {
    margin-bottom: 24px;
}

#perfil img{
    width: 200px; /*  200  */
}

#linksSocial img{
    width: 24px;
}

#container {
    text-align: center;
}

#perfil img{
    margin-bottom: 16px;

}




ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}






ul li a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 10px
}
